@page "/create-todo"
@using ToDoApp.Services;
@inject TodoService TodoService
@inject NavigationManager Navigation

<h3>Create New To-Do</h3>

<div>
    <label>Subject: </label>
    <input @bind="subject" />
</div>
<div>
    <label>Description: </label>
    <input @bind="description" />
</div>
<div>
    <button @onclick="HandleCreateTodo">Create</button>
</div>

@code {
    private string subject;
    private string description;

    private async Task HandleCreateTodo()
    {
        await TodoService.CreateTodo(1, subject, description); // Use logged-in user ID in production
        Navigation.NavigateTo("/todo-list");
    }
}
